<launch>

	

	<include file="$(find car_simulation)/launch/simulation.launch">
		<arg name="gazebo_gui" value="false" />
		<arg name="world_name" value="barrels.world" />
		<arg name="rviz" value="true" />
	</include>


	<node pkg="simple_control" type = "simple_control_node" name = "simple_control_node" launch-prefix="xterm -e">
	<param name="throttle_param" value="0" />
	<param name="steer_param" value="0" />
	</node>

	
	<node pkg="rosbag" type="play"  name="teleop" args="$(find simple_control)/teleop.bag" />

</launch>
